<% include header %>
<div class="test">
  <p>Chris Brown</p>
</div>

<h1>Eloquent Javascript Sandbox</h1>

<div class="sandbox glossary">
  <h2>Glossary</h2>

  <h3>Selecting elements</h3>
  <ul>
    <li>document.querySelector('element .class #id')
      <ul>
        <li>Select an element by its tag, class, id, or input[name].  Specificity rules apply and it is awesome.</li>
      </ul>
    </li>
  </ul>

  <h3>Scrolling and position</h3>
  <ul>
    <li>pageYOffset, <em>or</em> window.scrollY
      <ul>
        <li>Gives the number of pixels the document is currently scrolled from the top.</li>
      </ul>
    </li>
  </ul>
</div>
<div class="sandbox">
  <h2>Mouse Motion</h2>
  <p>Drag the bar to change its width.</p>
  <div class="drag-bar"></div>
</div>
<div class="sandbox">
  <h2>Scroll Events</h2>
  <p>Scroll for progress bar</p>
  <div class="progress">
    <div></div>
  </div>
  <button id="progress-button">Click to Stick</button>
</div>
<div class="sandbox">
  <h2>Focus Events</h2>
  <p>Name: <input type="text" data-help="Your full name"></p>
  <p>Age: <input type="text" data-help="Age in years"></p>
  <p id="help"></p>
</div>
<div class="sandbox" style="height: 600px" id="mouse-div">
  <h2>Mouse Tails</h2>
  <div class="trail"></div>
</div>
<div class="sandbox">
  <h2 class="recipe-print__h2">Ingredients</h2>

                    <ul style="display: inline-block; width: 49%; vertical-align: top">
                            <li>
                                1 whole boiled red bell pepper
                            </li>
                            <li>
                                9 boiled habanero peppers
                            </li>
                            <li>
                                1 tsp of salt
                            </li>
                            <li>
                                1 tsp of vegetable or soybean oil
                            </li>
                    </ul>
                        <ul style="display: inline-block; width: 49%; vertical-align: top">
                                <li>
                                    2 tbsp of white distilled vinegar
                                </li>
                                <li>
                                    8 oz of tomato sauce puree (unsalted)
                                </li>
                                <li>
                                    2 cloves of garlic
                                </li>
                                <li>
                                    1/4 cups of white onions
                                </li>
                        </ul>

                    <h2 class="recipe-print__h2">Directions</h2>
                    <ol class="recipe-print__directions">
                            <li class="item">Remove tail ends from peppers and boil red bell pepper with the habanero peppers for 7 minutes.</li>
                            <li class="item">With a processor or emulsion blender, process remaining ingredients together for about 10 minutes (until seeds disappear) with the boiled red bell pepper and habanero peppers. Discard boiled water.</li>
                            <li class="item">Cool down and there you go! It&#39;s a great salsa!</li>

                    </ol>
</div>





<% include footer %>
